<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_ERR">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
		</Console>
		<Console name="Console_STD" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
		</Console>
		<File name="File_ExpL" fileName="ExpL.log" immediateFlush="true" append="false">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
		</File>  
	</Appenders>
	<Loggers>
		
		<!-- For ExpL -->
		<Logger name="kenh.expl" level="debug" additivity="false">
			<AppenderRef ref="File_ExpL"/>  <!--Use file to save log message-->
		</Logger>
		<Logger name="org.apache.commons.jexl2" level="debug" additivity="false">
			<AppenderRef ref="File_ExpL"/>  <!--Use file to save log message-->
		</Logger>
		
		<!-- For all error -->
		<Root level="error">
			<AppenderRef ref="Console"/>
		</Root>
	</Loggers>
</Configuration>
